%titulos{
    text-align: center;
    color: #1f5b37;
    font-size: 35px;
    font-family: 'Arimo', sans-serif;
}

%subTitulos{
        font-family: 'Arimo', sans-serif;
        text-align: center;
        padding: 20px;
}        