$color-verde: #1f5b37;
$color-crema: #EEEDEA;
$color-gris: #E9E8E5;
$color-naranja: #f49c13;

@mixin actividades-responsive{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

@mixin medidas-imagenes($width, $height, $padding){
    width: 350px;    
    height: 250px;
    padding: 5px;
}